# Environments
.venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Logs & data
logs/
data/raw/
*.log

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Prefect
.prefect/